
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.button {
  padding: 20px 0; /* top-bottom padding fixed, left-right will be replaced by width */
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  width: 60px;        /* fixed width */
  height: 50px;       /* fixed height */
  font-size: 1rem;
  text-align: center;
  user-select: none;
}

.row {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.row input {
  margin: 0;
  padding: 8px 35px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
